<div class="col col-lg-6">
  <label class="form-label">Nome</label>
  <input
    id="NomeGenero"
    [(ngModel)]="Nome"
    type="text"
    class="form-control"
    placeholder="Nome do Gênero">
</div>

<div class="col col-lg-6">
  <label class="form-label">Descrição</label>
  <input
    id="DescricaoMusica"
    [(ngModel)]="Descricao"
    type="text"
    class="form-control"
    placeholder="Descrição do Gênero">
</div>

<button
  type="button"
  (click)="salvar()"
  class="btn btn-primary"
  style="margin-top: 15px; margin-left: 15px;">Salvar</button>


