<div class="col col-lg-6">
  <label class="form-label">Nome</label>
  <input
    id="NomeMusica"
    [(ngModel)]="NomeMusica"
    type="text"
    class="form-control"
    placeholder="Nome da Música">
</div>

<div class="col col-lg-6">
  <label class="form-label">Arquivo</label>
  <input
    id="ArquivoMusica"
    [(ngModel)]="ArquivoMusica"
    type="text"
    class="form-control"
    placeholder="Arquivo da Música">
</div>

<div class="col col-lg-6">
  <label class="form-label">Artista</label>
  <select class="form-control" [(ngModel)]="ArtistaId">
    <option *ngFor="let artista of artistas" [ngValue]="artista.id" > {{ artista.nome }} </option>
  </select>
</div>

<div class="col col-lg-6">
  <label class="form-label">Genero</label>
  <select class="form-control" [(ngModel)]="GeneroId">
    <option *ngFor="let genero of generos" [ngValue]="genero.id" > {{ genero.nome }} </option>
  </select>
</div>
<button
  type="button"
  (click)="salvar()"
  class="btn btn-primary"
  style="margin-top: 15px; margin-left: 15px;">Salvar</button>

